// Body
$background-color: white;
$green-site-color:#73D462;
$blue-site-color:#1B3B59;
$grey-site-color:#E8EBF1;



// Typography
$font-family: 'Rubik', sans-serif;
$dark-font-color:$blue-site-color;
$light-font-color:$background-color;

// Colors

